@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
}
body{
    width: 1000;
    background-color: #1A0B2E;
    
   
}
/* Navigation Bar */
nav .navbar{
    border: #f1eded solid 2px;
    /* width: 1600px;
    height: 92px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    
}
.logo{
    width: 219px;
    height: 32px;
}
.menu{
    gap:32px
}
.subscribe-btn{
    width: 135px;
    height: 40px;
    color: white;
    position: relative;
    border-radius: 10000px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.subscribe-btn button{
    margin-top: 10px;
    margin-left: 20px;
    /* gap: 10px; */
    /* padding: 12px 16px; */
}
.hamburger-btn{
    display: none;
}

/* Hero Section */
/* .hero-section{
    border: #ffffff solid 2px;
    width: 100%;
    height: 720px;
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.round-img{
    border: #a10909 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.round-img img{
    justify-content: center;
    margin: 100px auto;
    width: 22%;
    height: 47%;
    border-radius: 50%;
    
    
}
.hero-section.mic{
    border: #1A0B2E solid 2px;
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: none;
    margin-top: 300px;
    margin-left: -50px;
} */

   
    /*   About Section  */
.about-section{
    border: #7c0303 solid 2px;
    width: 100%;
    height: 650px;
}
.about-section .about-content{
    border: #03037c solid 2px;
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    padding: 50px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.about-section .about-content h2{
    margin: 20px auto;
    justify-content: center;
}


/* Mobile Responsive */
@media screen and (max-width:  576px) {
    nav .navbar {
        display: flex;
        padding: 10px;
    }
    .menu{
        display: none;
    }
    .logo {
        margin-bottom: 10px;
    }
    .subscribe-btn {
       display: none;
    }
    .hamburger-btn{
        display: inline;
    }
}